div#at-mouse-tracker-wrapper {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: 1000000;
}
div#at-mouse-tracker {
    pointer-events: none;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: -25px;
    opacity: 0.5;
    background-color: yellow;
    border-radius: 50%;
}
div#at-mouse-tracker:before, div#at-mouse-tracker:after {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    content: ' ';
    height: 10px;
    margin-top: -5px;
    width: 1px;
    background-color: #333;
}
div#at-mouse-tracker:before {
    transform: rotate(45deg);
}
div#at-mouse-tracker:after {
    transform: rotate(-45deg);
}